---
import { Image } from "astro:assets";
import AboutMeImage from "../assets/about-me.jpg";
import Section from "../layouts/Section.astro";
import Layout from "../layouts/Layout.astro";
import H2 from "../elements/H2.astro";
import PreviousExperiences from "../components/PreviousExperiences.astro";
import Locations from "../components/Locations.astro";

const title = "Despre Ștefan Rusu, Kinetoterapeut și antrenor de fitness";
const description =
    "Bucură-te de avantajele kinetoterapiei prin antrenamente personalizate, bazate pe nevoile și stilul tău de viață";
---

<Layout title={title} description={description}>
    <Section>
        <div class="flex flex-col mt-28 md:flex-row gap-5">
            <div class="md:flex-[2]">
                <Image
                    class="m-auto rounded max-w-[300px]"
                    src={AboutMeImage}
                    alt="Stefan Rusu - about"
                />
            </div>
            <div class="md:flex-[3]">
                <p class="mb-3">
                    Sunt <strong>Ștefan Rusu</strong>, kinetoterapeut și
                    antrenor personal. De-a lungul anilor, am ajutat pacienții
                    să rezolve diverse probleme și afecțiuni ortopedice,
                    aplicând protocoale de recuperare prin kinetoterapie,
                    combinate cu antrenamente personalizate in sala de fitness.
                    Cazuri notabile pe care le-am întâlnit până acum sunt:
                    rupturi de ligamente încrucișate, hernii de disc lombare,
                    dureri de spate, afecțiuni posturale, probleme cu greutatea,
                    calitatea scăzută a vieții cauzată de sedentarism,
                    necesitatea de dezvoltare a musculaturii etc.
                </p>
                <p class="mb-3">
                    Prin colaborarea noastră, vei reuși să te recuperezi mai
                    rapid, te vei supune unui risc scăzut de accidentare, vom
                    putea identifica și remedia eventualele probleme fizice care
                    ți-ar putea afecta stilul de viață și activitățile zilnice.
                    La toate acestea se adaugă și restul beneficiilor datorate
                    fitnessului. Astfel, vom putea preveni viitoare accidentări,
                    afecțiuni și intervenții chirurgicale.
                </p>
            </div>
        </div>
    </Section>
    <Section type="dark" wide>
        <H2 style="text-center mb-0 pb-0">
            Alege <i><strong>prevenția</strong></i>! Nu aștepta până la tratament.
        </H2>
    </Section>
    <PreviousExperiences sectionType="white" />
    <Locations title="Mă găsești în Cluj-Napoca și Huedin" />
</Layout>
