---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../elements/SectionHeader.astro";
const title = "Ștefan kineto-sport"
const description = "Despre programul online de hipertrofie musculară"
---

<Layout title={title} description={description}>
  <Section class="text-justify">
    <h1 class="page-title">
      Programul Complet de Dezvoltare Musculară - Maximizarea Hipertrofiei Musculare
    </h1>
    <p>
      Trebuie sa înțelegi că programul pe care urmează să-l
      achiziționezi este specializat pe hipertrofie musculară,
      adică dezvoltarea musculaturii în volum. Toate detaliile
      și caracteristicile pe care le vei găsi aici sunt alese
      astfel încât tu să ai parte de antrenamente optim
      structurate, care să minimizeze oboseala și să maximizeze
      stimulul. Aceste detalii sunt puse cap la cap conform
      dovezilor științifice pe care le avem în prezent.
    </p>

    <p>
      Ține minte că scopul acestui program este ca tu să îți
      <i>dezvolți musculatura cât mai eficient</i> posibil,
      astfel încât tot procesul să fie <strong>sustenabil</strong>,
      să te bucuri de el și să ai aderență pe termen lung.
      Pentru asta e necesar ca:
      <ul class="md:columns-2">
        <li><span>intensitatea și volumul să fie optimizate,</span></li>
        <li><span>zilele de repaus să fie suficiente,</span></li>
        <li><span>să ai o alimentație corespunzătoare,</span></li>
        <li><span>să gestionezi somnul și stresul</span></li>
        <li><span>durata antrenamentului să fie redusă</span></li>
      </ul>
    </p>
  </Section>
      
    <!-- Cui se adreseaza -->
  <Section class="text-justify">
    <SectionHeader title="Cine poate beneficia de program?" />
    <p>Programul se adresează atât femeilor, cât și bărbaților. Mai ales femeile nu trebuie să se teamă să se antreneze cu greutăți și să-și dezvolte musculatura! O femeie care se antrenează cu greutăți în sală și care își stimulează musculatura, are un corp feminin, frumos structurat și dezvoltat. Sub nicio formă asta nu înseamnă o pierdere de feminitate! Femeile care ți se pare că își pierd feminitatea pentru că au mușchii foarte mult dezvoltați, în 99% din cazuri consumă substanțe anabolizante. O femeie care se antrenează natural va avea un corp de 20 de ori mai frumos decât o femeie care nu face niciun fel de activitate fizică. În cazul bărbaților sper că totul e clar!</p>
  </Section>
  <Section type="light" wide>
    <h2 class="text-center font-bold mb-0">,,Dar mă tem să nu fiu prea mare!”</h2> 
  </Section>
  <Section class="text-justify">
    <p>Ai nevoie de ani de zile pentru a dezvolta un nivel bun de înțelegere și cu siguranță de tot atât de mult pentru a dezvolta musculatura pâna la un nivel mediu. Din nou, mușchii mari pe care îi vezi pe social media sunt, de cele mai multe ori, rezultatul substanțelor anabolizante. Nu îți compara corpul, istoricul și genele cu ale celor pe care le/îi vezi în pozele ,,perfecte”! Dezvoltarea musculară este un proces fiziologic care se întâmplă foarte lent, FOARTE LENT! Nu ai cum să-l grăbești și nici nu vrei să-l grăbești!</p>
    
    <h2 class="mt-8 lg:mt-12">La ce mă ajută dezvoltarea musculaturii?</h2>
    <p>Mușchii dezvoltați înseamnă o încredere de sine mult crescută, o funcționare a organismului mult îmbunătățită! Mușchii dezvoltați înseamnă sănătate, pentru că toți markerii sănătății sunt corelați cu o musculatură dezvoltată! Adică scade enorm riscul să faci cancer, boli cardiovasculare, diabet, demență și altele. Mușchii dezvoltați înseamnă putere - forță și viteză! Mușchii dezvoltați înseamnă un aspect estetic frumos! Mușchii dezvoltați înseamnă inteligență crescută și un creier care beneficiază de neuroplasticitate și care, cu siguranță, te ajută să dai un randament crescut atât la job, cât și în toate celelalte situații care te dezvoltă personal. Toate acestea se transpun în toate activitățile pe care le faci zilnic, când dormi, când ieși la plimbare, când mergi la cumpărături, când comunici cu cei din jur, când îți protejezi copilul într-o situație critică și când îl iei în brațe ca să-l drăgălești. Nu cred că este cineva care să nu vrea să fie mai puternic, mai deștept, mai rapid și care să nu vrea să arate mai bine! Pe scurt, vei fi o ființă umană superioară!</p>
  </Section>
  <Section type="dark" wide>
    <h2 class="text-center font-bold mb-0">Sper că ai înțeles până aici că viața ta se schimbă la 180 de grade în momentul în care iei decizia să mergi la sală și să-ți dezvolți mușchii!</h2>
  </Section>
  <Section class="text-justify">
    <h2 class="mt-8 lg:mt-12">Coaching nu doar pentru dezvoltarea musculaturii</h2>
    <p>Mai departe, programul meu nu înseamnă doar mușchi dezvoltați, ci înseamnă coaching. Te învăț cum să-ți dezvolți musculatura eficient, dar te învăț și cum să-ți formezi obiceiuri sănătoase și cum să-ți optimizezi toate aspectele cotidiene, pentru ca tu să ai parte de o calitate a vieții cât mai bună. Aceste obiceiuri le vei duce cu tine și te vor ajuta toată viața! Pentru asta vom comunica zilnic și vom face apeluri 1-1 săptămânal.</p>
    <h2 class="mt-8 lg:mt-12">Plafonarea dezvoltării musculare</h2>
    <p>Foarte multe persoane se luptă cu plafonarea atunci când vine vorba de dezvoltarea musculară. Aceasta apare, din păcate, chiar și după câteva luni, până la 1 an de la începerea antrenamentelor în sală, din cauza faptului că recuperarea organismului după expunerea la stimul nu este completă. Asta se întâmplă pentru că se insistă foarte mult pe creșterea volumului de antrenament, progresiv (prea multe repetări, prea multe serii, prea des). Mai departe, volumul crescut duce la o acumulare a oboselii foarte mare care nu mai permite țesutului muscular să se adapteze mai departe. </p>
    <p>Bineînțeles, există și o limită genetică pe care toți o avem, dar despre acea limită putem vorbi abia după aproximativ 7-10 ani de antrenemante constante.</p>
    <p>Dacă ai un organism obosit și care nu poate produce adaptări fiziologice, cu siguranță nu mai poți crește greutățile. Scopul tău va fi nu să crești volumul, ci să crești intensitatea, adică greutățile cu care te antrenezi. Sună contraintuitiv, dar asta va permite organismului să se recupereze și să se odihnească mai bine. Astfel, adaptările vor avea loc în continuare, țesuturile se vor dezvolta și tu vei putea crește greutățile în continuare. Un volum crescut obosește corpul mult mai mult decât o face o intensitate crescută, adică greutățile mai mari. Deci aici te vei concentra pe încărcarea progresivă, care înseamnă fie adăugare de greutate, fie adăugare de repetări, în cadrul unei serii. Automat, dacă adaugi 2-3 repetări, de exemplu, pe parcursul mai multor săptămâni, vei crește greutatea din nou, pentru că nu are rost să faci repetări prea multe. Nu vrei să te întorci la acumularea oboselii!</p>
  </Section>
  <Section type="dark">
    <h2 class="text-center">Nu te teme!</h2>
    <p class="text-center">Știința ne arată că greutățile mari NU înseamnă un risc mai mare de accidentare, sau un stres mai mare pe structurile articulare și osoase.</p>
    <h2 class="mt-5 lg:mt-8 text-center">Din contră!</h2>
    <p class="text-center">Încărcarea fizică a sistemului osos și a structurilor articulare le va face să se adapteze și să devină mai puternice și mai rezistente.</p>
  </Section>
  <Section class="text-justify">
    <h2 class="mt-8 lg:mt-12">Concluzie</h2>
    <p>În final, vreau ca noi doi să avem parte de o colaborare cât mai plăcută și utilă, prin care să învățăm împreună! Exact! Și eu învăț împreună cu tine și de la tine, pentru a mă putea adapta constant la cerințele și factorii individuali!</p>
    <p>Completează formularul de colaborare online ca să programăm un apel video gratuit, în care îți prezint mai departe programul și ce presupune o potențială colaborare.</p>
  </Section>
</Layout>
