---
import "@fontsource-variable/montserrat";
import "@fontsource/nixie-one";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Features from "../components/Benefits.astro";
import AboutMe from "../components/AboutMe.astro";
import PreviousExperiences from "../components/PreviousExperiences.astro";
import Footer from "../components/footer/Footer.astro";
---

<Layout title="Ștefan Rusu - Kinetoterapeut și antrenor de fitness">
  <Header />
  <Hero />
  <Features />
  <AboutMe />
  <Section type="dark" wide>
    <h3 class="text-lg">
      Recuperarea prin kinetoterapie este complementara cu condiționarea fizica
      și dezvoltarea forței și a musculaturii, adică nu se poate realiza una
      fără celelalte două.
    </h3>
  </Section>
  <PreviousExperiences />
  <Footer />
</Layout>
