---
import "@fontsource-variable/montserrat";
import "@fontsource/nixie-one";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import P from "../elements/P.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Benefits.astro";
import AboutMe from "../components/AboutMe.astro";
import Services from "../components/Services.astro";
import PreviousExperiences from "../components/PreviousExperiences.astro";
import YoutubeShorts from "../components/YoutubeShorts.astro";

const title = "Ștefan Rusu - Kinetoterapeut și antrenor de fitness";
const description = "Bucura-te de avantajele kinetoterapiei prin antrenamente personalizate, bazate pe nevoile si stilul tau de viata";
---

<Layout title={title} description={description}>
  <Hero />
  <Section type="dark" wide>
    <P style="text-center">
      Recuperarea prin kinetoterapie este complementară cu condiționarea fizică
      și dezvoltarea forței și a musculaturii, adică nu se poate realiza una
      fără celelalte două.
    </P>
  </Section>
  <AboutMe />
  <Features />
  <Services />
  <PreviousExperiences />
  <YoutubeShorts />
</Layout>
