---
import { Image } from "astro:assets";
import AboutMeImage from "../assets/about-me.jpg";
import Section from "../layouts/Section.astro";
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../elements/SectionHeader.astro";
import P from "../elements/P.astro";
import H1 from "../elements/H1.astro";
import H2 from "../elements/H2.astro";
import H3 from "../elements/H3.astro";
import Span from "../elements/Span.astro";

const title =
    "Scapă de durerea de spate, din confortul casei tale în 90 de zile";
const description =
    "Te ajut să scapi și să previi durerea de spate prin kinetoterapie și antrenamente personalizate de fitness. Recuperează-te eficient, în funcție de nevoile și stilul tău de viață";
---

<Layout title={title} description={description}>
    <Section>
        <H1 style="mt-20 text-center">
            Scapă de durerea de spate, din confortul casei tale!
        </H1>
        <div class="mt-5">
            <div class="flex flex-col md:flex-row gap-5 items-center">
                <P style="md:flex-[2] text-center">
                    Salut! Sunt <strong>Ștefan Rusu</strong>, kinetoterapeut și
                    antrenor personal. Pe baza experienței din sala de fitness
                    și a nevoilor întâlnite, am lansat un program prin care ofer
                    protocoale de recuperare personalizate sub forma de <strong
                        ><i>online coaching</i></strong
                    >, ajutându-te să depășești afecțiunile spatelui și să îți
                    recâștigi calitatea vieții.
                </P>
                <div class="md:flex-[3]">
                    <Image
                        class="m-auto rounded max-w-[300px]"
                        src={AboutMeImage}
                        alt="Stefan Rusu"
                    />
                </div>
            </div>
        </div>
    </Section>
    <Section type="dark" wide>
        <H2 style="text-center mb-0 pb-0">
            Program online personalizat, ce include protocoale de recuperare de
            kinetoterapie și antrenamente cu greutăți, care se practică pe o
            perioadă de <b><i>90 de zile</i></b>.
        </H2>
    </Section>
    <Section>
        <SectionHeader title="Ce include programul?" />
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
            <!-- Planuri -->
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">
                    Plan Personalizat de Kinetoterapie și Exerciții Specifice
                </H3>
                <Span>
                    Fie că ești acasă sau în sala de fitness, vei primi un plan
                    de kinetoterapie adaptat nevoilor tale, care include
                    exerciții și antrenamente eficiente, ghidate pas cu pas,
                    pentru a stimula recuperarea și a preveni recidivele.
                </Span>
            </div>
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">
                    Plan de dezvoltare a obiceiurilor sănătoase
                </H3>
                <Span>
                    Te ajut să devii mai disciplinat în activitățile zilnice,
                    pentru a accelera procesul de recuperare și pentru a
                    beneficia la maxim, pe termen lung, de corpul tău și de
                    capacitatea acestuia.
                </Span>
            </div>
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">Plan Personalizat de Alimentație</H3>
                <Span>
                    Dieta perfectă nu există. Iar dacă ar exista, probabil ți-ar
                    fi greu să o urmezi pe termen lung. În schimb, există
                    echilibru. Te ajut să îți descoperi propriul stil alimentar,
                    în funcție de produsele și felurile tale preferate de
                    mâncare, care nu te ajută doar să-ți atingi scopul cât mai
                    repede, ci și îți menține organismul sănătos.
                </Span>
            </div>

            <!-- Suport online -->
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">
                    Sesiuni Săptămânale de Consultanță Online (Call 1:1)
                </H3>
                <Span>
                    Beneficiază de întâlniri individuale săptămânale cu mine.
                    Obține răspunsuri la întrebări, ajustează programul și
                    primește îndrumări personalizate pentru ușurință în execuție
                    și progres continuu.
                </Span>
            </div>
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">Suport 24/7 prin Mesaje</H3>
                <Span>
                    Sunt mereu aici pentru tine! Îți ofer sprijin și îndrumare
                    prin mesaje, de cel puțin 2 ori pe zi. Fie că ai nevoie de
                    motivație sau clarificări, sunt la un mesaj distanță.
                </Span>
            </div>
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">Verificare Zilnică a Activității</H3>
                <Span>
                    Monitorizăm activitatea ta zilnică, de la numărul de pași
                    sau timpul petrecut plimbându-te, la executarea exercițiilor
                    și dezvoltarea obiceiurilor sănătoase. Astfel, vei avea o
                    perspectivă detaliată asupra protocolului și progresului.
                    Adaptăm planul tău în funcție de nevoile tale, pentru ca tu
                    să te simți cât mai bine.
                </Span>
            </div>

            <!-- Materiale si resurse -->
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">Aplicație mobilă</H3>
                <Span>
                    Pentru a avea acces rapid si usor la protocol, toate
                    materialele aferente vor fi disponibile intr-o aplicatie, pe
                    telefonul tau. Exercitiile explicate, planul de alimentatie,
                    poze si alte informatii, toate vor fi intr-un singur loc.
                </Span>
            </div>
            <div class="pt-8 border-t-2">
                <H3 style="mb-2">Clipuri video explicative</H3>
                <Span>
                    Am pregatit pentru tine o serie de clipuri video
                    explicative, a fiecarui exercitiu, pentru executarea corecta
                    a acestora si prevenirea unei accidentari.
                </Span>
            </div>
        </div>
    </Section>
</Layout>
