---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../elements/SectionHeader.astro";
const title="Stefan kineto-sport"
const description="Termeni și condiții de utilizare a site-ului"
---

<Layout title={title} description={description}>
<Section>
<SectionHeader title="Termeni și condiții" titleStyle="mt-28" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae velit sed magna convallis dictum. Integer ac molestie tortor, nec dictum turpis. Ut dictum lobortis turpis, ut suscipit libero dignissim ac. Aliquam posuere cursus ligula, quis mollis lorem ultrices vitae. Quisque quis enim et felis bibendum pulvinar. Nam sed tincidunt ex. Aliquam nibh odio, tempor vitae imperdiet id, posuere tincidunt orci.</p>
</Section>
</Layout>