---
import { joinClasses } from "../utils";

interface Props {
  style?: string;
}

const { style } = Astro.props;
let classes = "mb-5 lg:mb-8 text-2xl font-semibold text-center";

if (style) {
  classes = joinClasses(classes, style);
}
---

<h2 class={classes}>
  <slot />
</h2>
