---
import { joinClasses } from "../utils";

interface Props {
  style?: string;
}

const { style } = Astro.props;
let classes = "text-lg lg:text-xl mb-2";

if (style) {
  classes = joinClasses(classes, style);
}
---

<p class={classes}>
  <slot />
</p>
