---
import Small from "../elements/Small.astro";

interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="flex bg-primary text-white rounded-md overflow-hidden link-card h-full"
>
  <a class="flex flex-col width-full p-5" href={href}>
    <h2 class="text-lg mb-0.5 font-semibold">
      {title}
      <span class="pl-1">&rarr;</span>
    </h2>
    <div class="flex flex-1 items-center h-auto">
      <Small>
        {body}
      </Small>
    </div>
  </a>
</li>
