---
import SocialMedia from "./SocialMedia.astro";
import Logo from "./logo/LogoMedium.astro";
---

<header class="absolute top-0 w-full header flex px-8 py-4 z-20 text-primary">
  <div class="flex w-full items-center">
    <div class="flex-1">
      <a class="no-underline h-8" href="/">
        <Logo height={35} />
      </a>
    </div>
    <nav class="flex flex-row gap-2 sm:gap-5 md:mx-10 md:mx-15">
      <a
        class="text-sm text-black text-center leading-tight max-w-[112px] sm:text-base sm:max-w-none hover:text-primary hover:scale-105"
        href="/services-online"
      >
        <strong>Antrenamente online</strong>
      </a>
      <a
        class="text-sm text-black text-center leading-tight max-w-[112px] sm:text-base sm:max-w-none hover:text-primary hover:scale-105"
        href="/services-gym"
      >
        <strong>Antrenamente la sală</strong>
      </a>
    </nav>
    <div class="hidden md:block">
      <SocialMedia />
    </div>
  </div>
</header>
