---
import SocialMedia from "./SocialMedia.astro";
---

<header class="absolute top-0 w-full header flex px-8 py-4 z-10 text-primary">
  <div class="flex w-full items-center">
    <div class="flex-1">
      <a
        class="no-underline text-xl font-bold tracking-wider font-serif"
        href="/"
      >
        Ștefan Rusu
      </a>
    </div>
    <SocialMedia />
  </div>
</header>
