---
import Section from "../layouts/Section.astro";
---

<Section>
    <h2>Afecțiuni întâlnite și învinse cu succes</h2>
    <ul>
        <li>Ruptură de ligamente încrucișate</li>
        <li>Hernie de disc lombară</li>
        <li>Durere de spate</li>
        <li>Afecțiuni posturale</li>
        <li>Probleme cu greutatea</li>
        <li>Calitatea scăzută a vieții cauzată de sedentarism</li>
        <li>Necesitatea de dezvoltare a musculaturii</li>
    </ul>
</Section>
